@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Try asking a yes or no question!</p>
    <p class="text-center">        
        <br />
        <br />
        <b>
            <a class="nav-link text-dark" asp-area="" asp-controller="Decision" asp-action="Index">Try</a>
        </b>
    </p>
</div>
