@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>For Business inquiries please write: projkeen@outlook.com</p>
<p>Or for simple conversations: <a href="https://discordapp.com/users/263323301407883264" target="_blank">Discord </a>Peacedeath#0060</p>
