@model List<Decision>


@{
    var i = 1;
}
<table>
    <tr><td>№</td><td>Question</td><td>Answer</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@i</td><td>@item.Question</td><td>@item.Answer</td></tr>
        { i++; }
    }
</table>