@using MajorDecision.Web.Models;
@model Decision

@*<h1 class="text-center">Make Decision</h1>*@
<h1 class="text-center">New Question</h1>


<form asp-controller="Decision" asp-action="Index" method="post" class="row text-center">
    <div class="form-floating py-2 col-12">
        <input asp-for="Question" type="text" class="text-center" />
        <button type="submit" class="btn btn-primary" onclick="DisplayLoading()">Try!</button>


    </div>
    <div>
        @using (Html.BeginForm("Index", "Decision", FormMethod.Get))
        {
            <b>I want more information!</b>
            @Html.RadioButton("lucky", "answer", false)
        }
    </div>
    @*<p id="loading" style="height:50px; width:50px; display:none; "> <img src="~/images/5zdc.gif" style="height:100px;width: justify-content:center"></p>*@
   @* <div id="loading" class="justify-content-center" style="display:none">
        <img src="~/images/5zdc.gif" style="height:100px;width:100px" class="justify-content-center">
    </div>*@
    <div class="text-center">
        <div class="modal-dialog" id="loading" style="display:none">
            <img src="~/images/5zdc.gif" style="height:100px;width:100px">           
        </div>
        <h1>
            @ViewBag.message
        </h1>       
    </div>
</form>
@*<div class="row text-center">
       <div class="col-6">
       <form asp-controller="Decision" asp-action="Index" method="post">
       <div class="mb-3">
       <input asp-for="Question" type="text" class="" />
       <button type="submit" class="btn btn-primary">Try!</button>
       </div>
       <div class="mb-3">
       </div>
       </form>
       </div>
       <div class="text-center">
       @ViewBag.message
       </div>
       </div>
       <p>
       </p>*@


@*@section Scripts{
    <script src="~/js/textbox.js"></script>
    <script>
        window.onload = function () {
            var textbox = document.getElementById('Index');
            if (textbox != null) {
                textbox.focus();
            }
        };
    </script>  *@

@section Scripts{
    <script>
        DisplayLoading = function () {
            //$('#loading').css('display', 'inline-block');
            $('#loading').show();
        }
    </script>
    }



