@using MajorDecision.Web.Models;
@model Decision

@*<h1 class="text-center">Make Decision</h1>*@
<h1 class="text-center">New Question</h1>


<form asp-controller="Decision" asp-action="Index" method="post" class="row text-center">
    <div class="form-floating py-2 col-12">
        <input asp-for="Question" type="text" class="text-center" />       
        <button type="submit" class="btn btn-primary">Try!</button>
       
       
    </div>
    <div>
        @using (Html.BeginForm("Index", "Decision", FormMethod.Get))
        {
            <b>I want more information!</b>
            @Html.RadioButton("lucky", "answer", false)
        }
    </div>
    <h1 class="text-center">
        @ViewBag.message
    </h1>
</form>
@*<div class="row text-center">
       <div class="col-6">
       <form asp-controller="Decision" asp-action="Index" method="post">
       <div class="mb-3">
       <input asp-for="Question" type="text" class="" />
       <button type="submit" class="btn btn-primary">Try!</button>
       </div>
       <div class="mb-3">
       </div>
       </form>
       </div>
       <div class="text-center">
       @ViewBag.message
       </div>
       </div>
       <p>
       </p>*@
       

@*@section Scripts{
    <script src="~/js/textbox.js"></script>
    <script>
        window.onload = function () {
            var textbox = document.getElementById('Index');
            if (textbox != null) {
                textbox.focus();
            }
        };
    </script>  *@
    

    
