@model MajorDecision.Web.Models.Authentication.ChangePassword
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
</head>
<body>
    <form asp-action="ChangePassword" method="post">
        @if (TempData["msg"] != null)
        {
            <div class="alert alert-info" style="text-align:center">
                @TempData["msg"]
                <button type="button" class="btn-close" data-dismiss="alert" style="float:right">
                    <span>&times;</span>
                </button>

            </div>
        }
        <h1>Change Password</h1>
        <div class="container">
            <div class="mb-3">
                <label asp-for="CurrentPassword" class="form-label">Current Password</label>
                <input type="password" class="form-control" style="width:250px" asp-for="CurrentPassword" />
                <div class="msg">
                    <span asp-validation-for="CurrentPassword"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" style="width:250px" asp-for="NewPassword" />
                <div class="msg">
                    <span asp-validation-for="NewPassword"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="PasswordConfirm" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" style="width:250px" asp-for="PasswordConfirm" />
                <div class="msg">
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Change password</button>
            <a href="/Profile/ManageProfile" class="btn btn-secondary">Cancel</a>

        </div>

    </form>
</body>
</html>
