@model MajorDecision.Web.Models.Authentication.Login
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form asp-action="Login" method="post">
        @if (TempData["msg"] != null)
        {
            <div class="alert alert-info" style="text-align:center">
                @TempData["msg"]
                <button type="button" class="btn btn-close" data-bs-dismiss="alert" style="float:right">
                    @*<span>&times;</span>*@
                </button>
            </div>
        }
        <h1>Login form</h1>
        <div class="container">
            <div class="mb-3">
                <label asp-for="Username" class="form-label">Username</label>
                <input type="text" class="form-control" style="width:250px" asp-for="Username" />
                <div class="msg">
                    <span asp-validation-for="Username"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input type="password" class="form-control" style="width:250px" asp-for="Password" />
                <div class="msg">
                    <span asp-validation-for="Password"></span>
                </div>
            </div>           
            <button type="submit" class="btn btn-primary">Log In</button>
            <a href="/Authentication/Registration" class="btn btn-secondary">Registration</a>

        </div>


    </form>
</body>
</html>
